/* add-book.component.css */

/* Grundläggande reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container för add-book-komponenten */
.update-book-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.185); /* Vit bakgrund med transparens */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Rubriker */
.update-book-container h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #0056b3;
}

/* Styling för formuläret */
.book-form {
    margin-bottom: 20px;
}

.book-form .form-group {
    margin-bottom: 15px;
}

.book-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.book-form input, .book-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Knapp */
.book-form .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px; /* Lägg till mellanrum ovanför knapparna */
  }
.book-form .btn:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    text-shadow: 1px 1px 2px #080303; /* Lägg till skugga/kontur på texten */
    font-size: 0.9em;
  }